*.tmp
*~
~*

# Node
node_modules
pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.*

# Next.js
.next
out

# Expo / React Native
.expo
.expo-shared
dist
build

# Turborepo
.turbo

# OS / Editors
.DS_Store
Thumbs.db
*.swp
*.swo
*.code-workspace

# Uploads
apps/web/public/uploads/

.pnpm-store
